.theos/
packages/
*.deb
*.dSYM/
*.dylib
*.o
*.a
*.pyc
__pycache__/
.DS_Store
*.log
build/
!build/
build/*
!build/mac/
!build/mac/SoccerAppBypass.dylib
dist/
!vendor/
!vendor/dobby/
!vendor/dobby/dobby.h
!vendor/dobby/libdobby.a
